:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    ::ng-deep > :nth-child(3) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 16px;
    }
}