:host {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    ::ng-deep > :nth-child(3) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 16px;
    }

    nav {        
        display: flex;
        flex-direction: column;
        background-color: #8ab9e8;
        gap: 2px;
        margin-bottom: 16px;
        a {
            text-decoration: none;
            padding: 8px 16px;
            background-color: #8ab9e8;
            color: #0d47a1;

            &:hover {
                background-color: #3076c7;
            }

            &.selected {
                background-color: #0d47a1;
                color: white;
            }
        }
    }
}