.color-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    span {
        width: 24px;
        height: 24px;
        border: 1px solid #000;
        display: inline-block;
    }
}