@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;

  button[color="warn"] {
    --mat-button-filled-container-shape: 3px;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
  }

  h1 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-primary-container);
  }

  .green-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$green-palette,
        ),
      )
    );
  }

  .pink-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$rose-palette,
        ),
      )
    );

  }
}
