@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;

  button[color="warn"] {
    --mat-button-filled-container-shape: 3px;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
  }

  h1 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-primary-container);
  }

  .green-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$green-palette,
        ),
      )
    );
  }

  .pink-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$rose-palette,
        ),
      )
    );

  }
}


button>mat-icon {
  color: var(--mat-sys-on-primary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.gigantic-list {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin-top: 10px;
  max-height: 300px;

  .list-item {
    height: 80px
  }
}

.drag-n-drop {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .colors-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
    border: 1px solid gray;
    padding: 20px;

    .color-item {
      border: 1px solid gray;
      padding: 8px;
    }
  }
}