:host {
    display: flex;
    flex-direction: row;
    gap: 4px;

    span {
        font-size: 32px;
        color: gray;
        cursor: pointer;

        &.filled {
            color: gold;
            font-variation-settings: 'FILL' 1;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
        span {
            color: gray;
            &.filled {
                color: gray;
            }
        }
    }
}