:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'button header'
    'content content';
  border: 1px solid black;

  .button-area {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;

    &::ng-deep > button {
      cursor: pointer;
    }
  }

  .header-area {
    grid-area: header;
    padding: 4px;
    background-color: lightgray;
  }

  .content-area {
    grid-area: content;
    padding: 4px;
    border-top: 1px solid black;
  }
}
