h3 {
  color: magenta;
}

button[app-expander-toggle] {
    border-radius: 50%;
    background-color: lightblue;
    color: darkblue;
    border: 1px solid darkblue;
    aspect-ratio: 1 / 1;
}

div[app-expander-header] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    img {
        height: 40px;
    }

    h2 {
        font-weight: normal;
        font-size: 16px;
    }
}
