/* You can add global styles to this file, and also import other style files */
.red-expander {
    --expander-border-color: red;
    --expander-header-color: pink;
    --expander-content-color: mistyrose;
    --expander-border-radius: 12px;
}