/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form-header {
    font-size: 24px;
    font-weight: bold;
  }

  .field {
    display: flex;
    flex-direction: column;

    :has(input[type='checkbox']) & {
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    label {
      margin-bottom: 4px;
      font-weight: 600;
    }

    input {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: 0px transparent;

      &.invalid {
        border-color: red;
        background-color: rgb(255, 225, 225);
      }
    }

    input[type='checkbox'] {
      width: auto;
      margin-right: 8px;
      transform: scale(1.2);
    }
  }
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

}
